<div class="item item:cover">

<h1>{{ book.title }}</h1>

<h2>{{ book.author }}</h2>

<h4>CECS 492A</h4>
<h4>Spring 2015</h4>
<h4>Mike Boctor</h4>

<style>

.dankshit h3 {
	font-size:15pt !important;
}

</style>

<div class="dankshit" style="text-align:right;">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<h3>David Nuon</h3>
	<h3>Eduardo Arevalos</h3>
	<h3>Forest Turner</h3>
	<h3>Johnny Patterson</h3>
	<h3>Shane Satterfield</h3>
	<h3>Tiffany Artis</h3>
	<h3>Tyler Goodman</h3>
</div>
</div>
